.header {
  height: 300x;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.line {
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
}
