.container {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 1rem auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.backToHome > a {
  color: black;
  text-decoration: none;
}
