.navBar {
  background-color: white;
}
.navLinks {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 1rem auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.navLinks > a {
  text-decoration: none;
  color: black;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks > a:hover {
  text-decoration: none;
  color: red;
}

.line {
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
}
