.pageContent {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 3rem auto 3rem;
}

.filmContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.aside1 {
  width: 40%;
}

.aside1 > img {
  object-fit: cover;
}

.aside2 {
  width: 60%;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titles {
  text-transform: uppercase;
}

.titles > div{
    font-size: 40px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.bottomAside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bottomAside {
    height: 120px;
  }
  
  .bottomAside > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
  
  .bottomAside > div > div {
    margin-bottom: 10px;
  }
  
  .line {
    width: 200px;
    height: 0px;
    border: 1px solid black;
    background-color: black;
  }