/*Importing Font(Inter) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap');

/* ---------------- */
/* - Common Rules - */
/* ---------------- */

:root {
  --background: #FFFF;
  --background-beige: #e8e8e8;
  --red: #E3042E;
  --black: #0000;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
font-size: 16px;
font-weight: 400;
letter-spacing: 0.05em;
}

body{
min-height: 100vh;
font-family: "Inter";
background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color:var(--red);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}