.pageContent {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 3rem auto 3rem;
}

.single {
  height: 35px;
  padding: 2px 16px;
  background-color: #e8e8e8;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
}

.single:hover {
  border-left: 6px solid red;
}

.linkBloc > a,
.buttons > a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.buttons {
  padding: 2px 16px;
  display: flex;
  justify-content: space-between;
}

.buttons > a {
  border: 2px solid #e8e8e8;
  color: black;
  padding: 2px 16px;
  border-radius: 1px;
}

.buttons > a:hover {
  background-color: #e8e8e8;
  color: black;
  padding: 2px 16px;
  border-radius: 1px;
}

.hide {
  visibility: hidden;
}
